<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ve.com.mariomendoza.livelowcarb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="ve.com.mariomendoza.livelowcarb.ui.activitys.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Configuracion  de los temas de las paginas de Gadgets -->

        <!-- Configuracion de la pagina BMR -->
        <activity android:name="ve.com.mariomendoza.livelowcarb.ui.fragments.bmr"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <!-- Configuracion de la pagina WHR -->
        <activity android:name="ve.com.mariomendoza.livelowcarb.ui.fragments.whr"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <!-- Configuracion de la pagina BMI -->
        <activity android:name="ve.com.mariomendoza.livelowcarb.ui.fragments.bmi"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

    </application>

</manifest>